<ion-header>
    <ion-toolbar>
        <ion-title>Registro de ubicaciones</ion-title>
    </ion-toolbar>   
</ion-header>

<ion-content>
    <ion-button expand="full" (click)="getLocation()">Registrar ubicación</ion-button>
    <ion-list *ngIf="locations?.length">
        <ion-button expand="full"(click)="resetLocations()">Borrar ubicaciones</ion-button>
        <ion-item *ngFor="let location of locations">
            <ion-label>
                <p>Ubicación</p>
                <h2>Latitud: {{ location.latitud }}</h2>
                <h2>Longitud: {{ location.longitud }}</h2>
                <b>Registrada el {{ location.date }}</b>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="!locations?.length">
        <ion-item>
            <ion-label>
                <h2>No hay ubicaciones registradas</h2>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
